.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "card1 container__right"
        "card2 container__right";
    grid-gap: 1rem;

}

.card {
    &__title{
        font-size: $large;
        padding-top: 1rem;
    }
    &__description {
        font-size: $medium;
        line-height: 1.5rem;
        text-align: justify;
        padding-top: .8rem;
    }
    &__author {
        font-size: $medium;
        padding-top: .8rem;
    }
    
    &__social i {
        margin-right: 2rem;
        padding-top: 1rem;
    }
}

.card1 {
    grid-area: card1;
    padding: 1rem;
    border: 1px solid $charcoal;
    border-radius: 3px;
    margin-left: 1rem;
    overflow: hidden;
    &__image {
        width: 100%;
    }
}

.card2 {
    grid-area: card2;
    padding: 1rem;
    border: 1px solid $charcoal;
    border-radius: 3px;
    margin-left: 1rem;
    overflow: hidden;
    &__image {
        width: 100%;
    }
}

.container {
    &__right {
        padding: 1rem;
        border: 1px solid $charcoal;
        border-radius: 3px;
        margin-right: 1rem;
        grid-area: container__right;
    }
    &__right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__right-title {
        text-transform: uppercase;
        color: $sable;
        padding-top: 1rem;
    }

    &__icon i {
        margin: 1rem;
    }
    &__description {
        font-size: $medium;
        line-height: 1.5rem;
        text-align: justify;
        padding-top: .8rem;
    }
}

.more {
    margin-top: 1rem;
    background-color: $nickel;
    
    &__title {
        text-align: center;
        color: $white;
        font-family: $poppins;
        font-size: $medium;
    }

    &__list {
        list-style-type: circle;
        
        padding-left: 1rem;
        padding-top: 1rem;
        font-family: $poppins;
    }
    &__item {
        cursor: pointer;
        &:hover{
            color: $orange;
        }
    }
}


/*svg */
.svg {
    text-align: center;
}
.svg-phone {
    width: 300px;
}
#svg-code {

    animation: slide 1s infinite ease-in-out;
    animation-direction: alternate;
}

#svg-gear {
   
    animation: roll 2s linear infinite;
    transform-origin: 79% 79%;
}
/*svg end */

@media only screen and (max-width: 576px){
    .container {
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        "card1"
        "card2"
        "container__right";
    &__right {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
    .card1{
        margin-right: 1rem;
    }
    .card2{
        margin-right: 1rem;
    }
}